* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  margin: 0;
  background-color: rgb(255, 238, 217);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  outline: none;
}

button {
  font-size: 1.2rem;
  border-radius: 10rem;
  border: none;
  background-color: rgb(253, 70, 70);
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}

.join_button {
  font-size: 0.8rem;
  padding: 0.3rem;
  margin-left: 0.2rem;
}

.hidden {
  display: none !important;
}

.roomListContainer {
  background-color: rgb(204, 204, 204);
  width: 30%;
  height: 100vh;
  padding: 1rem;
}

.openRoomsContainer {
  height: 30%;
}

.lockedRoomsContainer {
  height: 30%;
}

.chatContainer {
  width: 70%;
  height: 100vh;
}

.messageContainer {
  width: 100%;
  height: 80%;
  overflow: auto;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 15%; */
}

.inputContainer input {
  border: 2px solid gray;
  padding: 10px;
  width: 70%;
}

.openRoomsContainer {
  margin-top: 1rem;
}

.inputContainer button {
  width: 20%;
  font-size: 1.2rem;
  border-radius: 10rem;
  border: none;
  background-color: rgb(253, 70, 70);
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}

.inputContainer form {
  width: 100%;
}

li {
  list-style-type: none;
}
#messages {
  margin: 0;
  padding: 0;
  width: 100%;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: white;
}

#messages li:nth-child(even) {
  background: rgb(206, 205, 205);
}
